/**
* Bulls and cows
* Author: Salif Mehmed - bit.ly/salifm
* License: MIT
* Repo: https://github.com/salifm/games/bulls-and-cows/
*/

body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #36f;
    color: #fff;
}
#pdiv {
    padding: 20px;
    font-weight: bold;
}
#vdiv {
    padding: 10px;
    font-weight: bold;
}
#tdiv {
    padding: 0;
    margin: 0;
    border: 0;
    text-align: center;
}
.tc {
    display: inline-block;
    width: 45%;
    border: 1px solid #fff;
    background-color: #fff;
    color: #36f;
    font-weight: bold;
    height: 300px;
    overflow: scroll;
}
.t1 {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.t2 {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
hr {
    border-bottom: 0;
    border-color: #36f;
}
#inp {
    display: inline-table;
    border: 1px solid #000;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #fff;
    color: #36f;
    font-weight: bold;
    padding: 10px;
    font-size: 16pt;
    width: 100px;
}
#inp:focus {
    outline: none;
}
.check {
    display: inline-table;
    border: 1px solid #fff;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #fff;
    color: #36f;
    font-weight: bold;
    font-size: 16pt;
    padding: 10px;
    cursor: pointer;
}
.check:focus {
    outline: none;
}
.new-game {
    border: 1px solid #36f;
    border-radius: 5px;
    background-color: #fff;
    color: #36f;
    font-weight: bold;
    padding: 10px;
    box-shadow: 0 1px 5px 0 #139, 0 1px 5px 0 #139;
    cursor: pointer;
}
.new-game:focus {
    outline: none;
    background-color: #36f;
    color: #fff;
}